@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {

    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;

}

.body {

    background-color: #000000b9;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;


    /* temp */
    background-attachment:fixed;
    background-position: center;
    background-size:cover;
    background-image: url("./FONDOS/tema_dark_blue.jpg");
    background-repeat: no-repeat;
    /* temp */

}

.body::-webkit-scrollbar {

    width: 4px;
	border-radius: 0px;

}

.body::-webkit-scrollbar-thumb {

    background: #4eccbbb4;
	border-radius: 0px;
}

.Dash {

    display: flex;
    width: 100%;
    height: 80px;

    border: 0px solid #000000;
    padding: 0px 10px 0px 10px;

    backdrop-filter: blur(50px);
    box-shadow: 0 0 20px #000000;

    background-color: transparent;
    /* background-color: #ff0000af; */
    justify-content: space-between;
}

.Logo_Inicio {

    height: 100%;
    width: 500px;
    border: 0px solid black;

    background-color: transparent;
    align-content: center;
    text-align: left;
    overflow: hidden;

}

.Logo_Inicio a {

    height: 100%;
    width: fit-content;
    border: 0px solid black;
    
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;

}

.space {
    
    width:100%;
    border: 0px solid #000000;

    align-content: center;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    

}

.contenedor_Cierra_Sesión {

    align-content: center;
    border: 0px solid #000000;

}

.Cierra_Sesión {

    width: 90px;
    height: 40%;
    
    border: 0px solid #000000;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #000000;

    font-size: medium;
    font-weight: 600;
    color: #000000;

    cursor: pointer;
}

.Cierra_Sesión:hover {

    box-shadow: 0 0 10px #ffffff;
    background-color: #ffffff52;
    border: none;
    color: #ffffff;


}

.slider_Menu {

    width: 100%;
    height: 50px;
    padding: 0px 10px;

    backdrop-filter: blur(20px);
    background-color: #ffffff52;
    /* box-shadow: 0 0 5px #000000; */
    
    /* text-align: center;
    align-content: center;
    overflow: hidden; */

}

.Modulos {

    max-height: 100%;
    max-width: fit-content;

    border: 0px solid rgb(255, 255, 255);
    margin: auto;

    font-size: small;
    justify-content: center;

}

nav {

    height: 100%;
    width: fit-content;

}

nav > ul > li > a > i {

    font-size: large;

}

nav > ul {
    
    display: flex;
    height: 100%;

}

nav > ul > li {

    position: relative;

    height: 100%;
    list-style: none;

}

nav > ul > li > a {

    display: flex;

    width: 100%;
    height: 100%;
    padding: 14px;

    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 300ms ease;

    color: #ffffff;

}

nav > ul > li > a:hover {

    transform: scale(1.1);
    background-color: #ffffffe1;
    box-shadow: 0 0 10px #000000;
    color: #000000;

}