@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {

    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;

}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-attachment:fixed;
    background-position: center;
    background-size:cover;
    background-image: url("./fondo_vector_4k.jpg");
    background-repeat: no-repeat;

}

/***************************************************************/

.Powered {
    
    position:fixed;
    display:flex;
    width: auto;
    height: auto;

    top: 90%;
    left: 50%;
    margin: 1%;
    transform: translate(-50%, -50%);

    font-size: 20px;
    font-weight: 500;
    color: #000000;

}

/************************* BOX LOGIN ***************************/

.Box_Login {

    width: 500px;
    height: 450px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #4c86df;

    background-color: #ffffff21;
    color: #ffff;
    padding: 30px 40px;

}

.Box_Login h1 {

    font-size: 40px;
    text-align: center;
    color: #4c86df;

}

.Box_Form {

    text-align: center;

}

/************************* BOX *********************************/

.Box_Login .Box_User {

    position: relative;
    height: 50px;
    width: 100%;
    margin: 25px 0;

}

.Box_Login .Box_Passw {

    position: relative;
    height: 50px;
    width: 100%;
    margin: 25px 0;

}

.Box_User input {

    height: 100%;
    width: 100%;

    background-color: #4c87df69;
    border: none;
    outline: none;

    border: 2px solid #ffffff;
    border-radius: 30px;

    font-size: medium;
    font-weight: 600;
    color: #ffff;

    padding: 20px 45px 20px 20px;

}

.Box_Passw input {

    height: 100%;
    width: 100%;

    background-color: #4c87df69;
    border: none;
    outline: none;

    border: 2px solid #ffffff;
    border-radius: 30px;

    font-size: medium;
    font-weight: 600;
    color: #ffff;

    padding: 20px 45px 20px 20px;
}

.Box_User input::placeholder {

    color: #ffffff;

}

.Box_Passw input::placeholder {

    color: #ffffff;

}

.Box_User i {

    position: absolute;
    right: 5%;
    top: 45%;
    transform: translateY(-50%);

}

.Box_Passw i {

    position: absolute;
    right: 5%;
    top: 53.3%;
    transform: translateY(-50%);

}

/********************* RECUERDA PASSWORD ************************/

.Box_Login .Recuerda_Passw {

    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight:bold;
    margin: -15px 0 15px;

}

.Recuerda_Passw label {
    
    display: flex;
    padding-left: 4px;
    cursor: pointer;
    font-style: italic;
    font-weight: normal;
}

.Recuerda_Passw label input {

    accent-color: white;
    margin-right: 5px;
    cursor: pointer;

}

.Recuerda_Passw a {

    text-decoration: none;
    color: #000000;
}

.Recuerda_Passw a:hover {

    text-decoration: underline;

}

/************************* BOTON *********************************/

.Box_Login .Botón {

    height: 40px;
    width: 100%;
    margin-top: 10%;

    background-color: #ffff;
    
    border: none;
    border-radius: 30px;
    outline: none;
    box-shadow: 0 0 10px #4c86df;
    cursor: pointer;
    font-size: medium;
    color: #000000;
    font-weight: 600;

}

/********************* LINK REGISTRO *****************************/

.Box_Login .Link_Registro {

    font-size: medium;
    text-align: center;
    margin-top: 15px;
    color: #000000;

}

.Link_Registro a {

    text-decoration: none;
    font-weight:bold;
    color: #E2446E;

}

.Link_Registro a:hover {

    text-decoration: underline;

}

/******************************************************************/

.Leyenda {

    margin-top: 15%;

    color: #000000;
    font-weight: bold;
    font-size: small;


}